
""" GoTo Mappings----------------------------
nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>

nnoremap gs :<C-u>action GotoSuperMethod<CR>
nnoremap gi :<C-u>action GotoImplementation<CR>
nnoremap <leader>sf :<C-u>action FindInPath<CR>
""" nnoremap gf :<C-u>action GotoFile<CR>
""" nnoremap ga :<C-u>action GotoAction<CR>
""" nnoremap gb :<C-u>action JumpToLastChange<CR>
""" nnoremap gd :<C-u>action GotoDeclaration<CR>
""" nnoremap gm :<C-u>action GotoSymbol<CR>
""" nnoremap gu :<C-u>action ShowUsages<CR>
""" nnoremap gt :<C-u>action GotoTest<CR>
""" nnoremap gr :<C-u>action RecentFiles<CR>

""" Tree Action: just modify the mapping in settings

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
""" 中英插件
set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

""" map <leader>d <Action>(Debug)
""" map <leader>r <Action>(RenameElement)
""" map <leader>c <Action>(Stop)
""" map <leader>z <Action>(ToggleDistractionFreeMode)

""" map <leader>s <Action>(SelectInProjectView)
""" map <leader>a <Action>(Annotate)
""" map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
""" map <S-Space> <Action>(GotoNextError)

""" map <leader>b <Action>(ToggleLineBreakpoint)
""" map <leader>o <Action>(FileStructurePopup)
